header{
	background-color: 	#FFAAAA;
	color: #550000;
}
header span{
	text-align: left;
	padding-left: 15px;
	font-size: 1.25rem;	
}
body{
	background-color: 	#FFAAAA;
}
div {
	font-size: 1.25rem;	
	position: relative;
	padding:  15px;	
	border: 1px solid black;		
	float:left;
	margin: 0px auto 15 px;
}
h1{
	font-size: 1.75rem;
	color: #550000;
}
.row{
	width: 100%;
}
.name{
	color: white;	
	position: absolute;
	top: 0px;
	right: 0px;
	width: 150px;
	padding: 5px;
	font: 1.75rem bold;
	text-align: center;	
}
#first .name{
	background-color: #671717;
}
#second .name{
	background-color: #440505;
}
#third .name{
	background-color: #240000;
}
/*#first, #second, #therd{
	margin-bottom: 15px;  	
}*/
p{
	padding-top: 30px;
}
@media (min-width: 992px) and (max-width: 1199px){
	
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
}